{deps,
 [
  {esupervisor, ".*", {git, "https://github.com/spawngrid/esupervisor.git", {branch, "master"}}},
  {sqlmig, ".*", {git, "https://github.com/spawngrid/erlang-sql-migrations.git", {branch, "master"}}},
  {edb, ".*", {git, "https://github.com/spawngrid/edb.git", {branch, "master"}}}
]}.
{erl_opts, [{src_dirs, ["src","priv/schema"]}]}.
