{deps,
 [
  {esupervisor, ".*", {git, "https://github.com/spawngrid/esupervisor.git", {branch, "master"}}},
  {epgsql, ".*", {git, "https://github.com/wg/epgsql.git", {branch, "master"}}},
  {poolboy, ".*", {git, "https://github.com/devinus/poolboy.git", {branch, "master"}}},
  {lager, ".*", {git, "https://github.com/basho/lager.git", {branch, "master"}}},
  {parse_trans, ".*", {git, "https://github.com/esl/parse_trans.git", {branch, "master"}}},
  {seqbind, ".*", {git, "https://github.com/spawngrid/seqbind.git", {branch, "master"}}}
]}.
{erl_first_files, ["edb_model"]}.
